apiVersion: apps/v1
kind: Deployment
metadata:
  name: fitness-frontend
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fitness-frontend
  template:
    metadata:
      labels:
        app: fitness-frontend
    spec:
      containers:
      - name: frontend
        image: alekharalampiev/fitness-app-frontend:v1
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: fitness-frontend
  namespace: default
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  selector:
    app: fitness-frontend